/*try only manipulating large elements in here*/

body {
    margin-left: 20%;
    margin-right: 20%;
    padding: 0;
    border: 3px solid red;
}




footer{

  text-align: center;
}

@media only screen and (min-width: 640px) {
    body {
        background-color: lightblue;
    }
   #myPic {
      float:left;
      margin: 2%;
      width: 40% ;
    }

#about{
  margin-right: 250px;
}
