/*try only manipulating large elements in here*/

body {
    margin-left: 20%;
    margin-right: 20%;
    padding: 0;
    border: 3px solid red;
}

.article-body img {
      max-width: 40%;

}

ul li{
  text-decoration: none;
  display: inline;
  float: right;
  margin-top: 5%;
  height: 5%;
  width: 8%;

  padding-right: 2%;

}

footer{

  text-align: center;
}

@media only screen and (min-width: 640px) {
    body {
        background-color: lightblue;
    }
    #myPic {
      float:left;
      margin: 2%;
    }
  .article-body {
        float:right;
}
}
